pytest==6.2.5
allure-pytest==2.13.2
requests==2.31.0
pytest-xdist==3.3.1
pytest-rerunfailures==10.3
pytest-selenium==3.0.0
datetime==5.1
selenium==3.141.0
pytest-base-url==1.4.2
pytest-html==3.2.0
pytest-variables==1.9.0
urllib3==1.26.17
tenacity==6.3.1
atomicwrites==1.4.1
cffi==1.15.1
curlify==2.2.1
lxml==4.9.3
namedlist==1.8
numpy==1.24.2
pandas==2.0.3
pytest-metadata==2.0.4
wheel==0.41.3
XlsxWriter==3.1.9
zope.interface==6.1
